n8n/workflows/Favourite Coin Alert.json
{
  "name": "Favourite Coin Alert",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://cointelegraph.com/rss"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        48
      ],
      "id": "82eda8a0-d347-411a-b0b7-a3b491e40c42",
      "name": "RSS Cointelegraph"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://decrypt.co/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        224
      ],
      "id": "41e4a816-a67f-4ea0-9875-fc5a2023a006",
      "name": "RSS Decrypt"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://www.coindesk.com/arc/outboundfeeds/rss/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        432
      ],
      "id": "ef4399ca-89f1-433c-a58d-f10f34008dc4",
      "name": "RSS CoinDesk"
    },
    {
      "parameters": {
        "jsCode": "// Tách dữ liệu từ Merge All thành 2 mảng rõ ràng\nconst inputs = $input.all();\n\nconst keywords = [];\nconst articles = [];\n\nfor (const item of inputs) {\n  const data = item.json;\n\n  if (data.keyword && data.tag) {\n    keywords.push(data);\n  } else if (data.title && data.link) {\n    articles.push(data);\n  }\n}\n\nreturn [\n  {\n    json: {\n      keywords: keywords,\n      articles: articles\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        224
      ],
      "id": "71e6d499-c845-4de6-b971-182f5fd3e306",
      "name": "Format Inputs"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        288
      ],
      "id": "8fddbf62-b3f3-4718-beb2-859e9377506b",
      "name": "Merge RSS Feeds"
    },
    {
      "parameters": {
        "jsCode": "const { keywords, articles } = $json;\n\nconst keywordMap = {};\n\n// Tạo map: keyword => [tag, ...]\nfor (const { keyword, tag } of keywords) {\n  const key = keyword.toLowerCase().trim();\n  if (!keywordMap[key]) keywordMap[key] = [];\n  if (!keywordMap[key].includes(tag)) keywordMap[key].push(tag);\n}\n\nconst results = [];\n\nfor (const article of articles) {\n  const content = `${article.title} ${article.contentSnippet || ''}`.toLowerCase();\n  const matchedTags = [];\n\n  for (const keyword in keywordMap) {\n    if (content.includes(keyword)) {\n      matchedTags.push(...keywordMap[keyword]);\n    }\n  }\n\n  if (matchedTags.length > 0) {\n    const uniqueTags = [...new Set(matchedTags)];\n    results.push({\n      json: {\n        ...article,\n        tags: uniqueTags\n      }\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        224
      ],
      "id": "58294af5-c6da-4572-aad6-13476c6907f9",
      "name": "Build Telegram Message",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "1535260408",
        "text": "=🗞️ *{{ $json.title.trim() }}*\n\n👤 _Tác giả:_ *{{ $json.creator || $json[\"dc:creator\"] || \"Không rõ\" }}*  \n📆 _Ngày đăng:_ `{{ new Date($json.isoDate).toLocaleString(\"vi-VN\") }}`\n\n🧠 *Tóm tắt:*  \n_{{ $json.contentSnippet.trim() }}_\n\n🏷️ *Tags:* {{ ($json.tags || []).map(tag => '`' + tag + '`').join(', ') }}\n\n🔗 👉 [*Đọc bài viết tại đây*]({{ $json.link }})  \n🖼️ 📷 [*Xem ảnh minh họa*]({{ $json.enclosure?.url || \"#\" }})\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        224
      ],
      "id": "f709d521-0582-47da-8a9c-683d83d2e83f",
      "name": "Send to Telegram",
      "webhookId": "ebc21a3a-8a2b-435f-9dc2-704d2f5f498e",
      "credentials": {
        "telegramApi": {
          "id": "PqSxTp1aIWuVzdTk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        224
      ],
      "id": "c61fa719-5a16-4cf5-a7a7-42d6c1206c97",
      "name": "Merge Keywords with Articles"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT k.keyword, t.name AS tag\nFROM feed_keywords k\nLEFT JOIN feed_keyword_tag fkt ON fkt.feed_keyword_id = k.id\nLEFT JOIN tags t ON t.id = fkt.tag_id\nWHERE k.active = true",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        112
      ],
      "id": "92ff683b-95cc-4bdd-a56c-074b06e2a112",
      "name": "Fetch Keywords from DB",
      "credentials": {
        "postgres": {
          "id": "QFXWiCK61TUePukI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        224
      ],
      "id": "0d6c9737-e270-4b22-b8ec-de00c7f407ff",
      "name": "Workflow End"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Cointelegraph": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Keywords from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Decrypt": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fetch Keywords from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS CoinDesk": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 3
          },
          {
            "node": "Fetch Keywords from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Inputs": {
      "main": [
        [
          {
            "node": "Build Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge RSS Feeds": {
      "main": [
        [
          {
            "node": "Merge Keywords with Articles",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Workflow End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Keywords with Articles": {
      "main": [
        [
          {
            "node": "Format Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Keywords from DB": {
      "main": [
        [
          {
            "node": "Merge Keywords with Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30f5c076-60f4-4cf5-aded-0f5dade6c6a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4291e928c9bb5c38fda6eb33170b3dd8560c49ca88920757d2ed40a8bbd22803"
  },
  "id": "wxyBciHrBiqxFECU",
  "tags": []
}